.footer, .header{
    background-color: #36816b89;
    min-width: 100%;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: static;
}
.header{
    height: 7vh;
}
.footer{
    height: 5vh;
}
.header-link{
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    font-weight: bolder;
}
.header-link:hover{
    text-decoration: underline;
    color: aliceblue;
}
.header-button{
    width: 25px; /* Adjust as needed */
    height: 25px; /* Adjust as needed */
    position: absolute;
    left: 20px; /* Adjust as needed */
    display: flex;
    align-items: center;
    background-image: url(/galeria/grafiki/backarrow.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
body{
    background-color: #fcf4e6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10vh; /* Adjust for header height */
    margin-bottom: 10vh; /* Adjust for footer height */
    
}
.block-caption{
    margin-top: 10px; /* Odstęp między obrazem a podpisem */
    font-size: 16px; /* Rozmiar czcionki podpisu */
    font-weight: bold; /* Pogrubienie tekstu */
    text-align: center; /* Wyśrodkowanie tekstu */
    color: #000;
}
.block-wrapper{
    display: flex;
    flex-direction: column; /* Ustaw elementy w kolumnie */
    align-items: center; /* Wyśrodkuj blok i podpis w poziomie */
    margin: 10px; 
}
.block, .blockZ{
    height: 300px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    border: 0px solid #000000;
    border-radius: 5px;
    margin: 0px;
    transition: transform 0.3s ease;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blockZ:hover, .block:hover {
    cursor: pointer; 
    transform: scale(1.05);
}

.Diskettes {
    background-image: url(grafiki/1\ Dyskietki.jpg);
}

.Discs {
    background-image: url(grafiki/2\ Disc.JPG);
}

.Removable-Discs {
    background-image: url(grafiki/3\ Removable\ Disc.jpg);
}

.Tapes-Cassettes {
    background-image: url(grafiki/4\ Tapes\ &\ Cassettes.jpg);
}

.Other-Media {
    background-image: url(grafiki/5\ Other\ Media.jpg);
}

.Butterflies{
    background-image: url(grafiki/Trogonoptera\ nr\ 2.jpg);
}

.CPUs{
    background-image: url(grafiki/);
}

.HDDs{
    background-image: url(grafiki/);
}

.Light-Bulbs{
    background-image: url(grafiki/4W\ 50lm\ 220V\ Smoke\ E27\ LED\ \(1\).jpg);
}

.Lots{
    background-image: url(grafiki/LOT\ SONY\ Cassettes.jpg);
}

.Minerals{
    background-image: url(grafiki/2023-07-23\ 20.04.13.jpg);
}

.PC-Cards{
    background-image: url(grafiki/ISA\ UltraSound\ Gravis.jpg);
}

.Plastic-Airplanes-Models{
    background-image: url(grafiki/Heinkel\ He\ 111\ Z2\ Zwilling\ with\ Bv\ 246\ HagelKorn\ Hasegawa\ 72.jpg);
}

.Porcelain-Cups{
    background-image: url(grafiki/2025-02-15\ 13.54.55.jpg);
}

.Santana-Abraxas-CDs{
    background-image: url(grafiki/397\ SQ\ Quadraphonic\ SACD\ 4ch\ &\ 2ch\ 1.jpg);
}

.Stamps{
    background-image: url(grafiki/2014-06-01\ 11.27.51.jpg);
}

.Stickers{
    background-image: url(grafiki/Stickers\ A.jpg);
}

.TDK-D{

}
.Trains-Bahn-H0{
    background-image: url(grafiki/HR2478\ Rivarossi\ BR\ E251.jpg);
}

.Wanted{

}

.in2{
    background-image: url(grafiki/2.jpg);
}

.in2-5{
    background-image: url(grafiki/2\,5.jpg);
}

.in2-6{
    background-image: url(grafiki/2\,8.jpg);
}

.in2-8{
    background-image: url(grafiki/2\,8.jpg);
}

.in3{
    background-image: url(grafiki/3.jpg);
}

.in3-5{
    background-image: url(grafiki/3\,5.jpg);
}

.in3-94{
    background-image: url(grafiki/3\,94.jpg);
}

.in5-25{
    background-image: url(grafiki/5\,25.jpg);
}

.in8{
    background-image: url(grafiki/8.jpg);
}

.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.enlarged-image {
    max-width: 90%;
    max-height: 90%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}